name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-all:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    container:
      image: ghcr.io/i-a-s/iabuild-env:latest
    strategy:
      matrix:
        target: [linux-x64, linux-arm64, windows-x64, windows-arm64, wasm]
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          cmake --preset ${{ matrix.target }}
          cmake --build --preset debug
